<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: header}"></div>
<div class="container">

    <div class="container-fluid bg-dark p-5 rounded-2 mb-3 d-flex flex-column justify-content-around align-items-center p-5">
        <h1 class="display-4 text-info">Pedidos entregues pela comunidade</h1>
        <a th:href="@{/pedido/formulario}" class="btn btn-info">Faça Seu Pedido Também</a>
    </div>

  <div class="card mb-2" th:each="pedido : ${pedidos}">
      <th:block th:switch="${pedido.status.name()}">
        <div th:case="'ENTREGUE'" class="card-header alert alert-dark">
            <a th:href="${pedido.urlDoProduto}" th:text="${pedido.nome}" />
        </div>
      </th:block>

      <div class="card-body">
          <div class="row">
              <div class="col-12 col-sm-8">
                  <div class="row">
                      <div class="col-md-6">Valor: <span th:if="${pedido.valor != null}" th:text="${'R$ ' + #numbers.formatDecimal(pedido.valor,3,'POINT',2, 'COMMA')}"/></div>
                      <div class="col-md-6">Data de Entrega: <span th:if="${pedido.dataEntrega != null}" th:text="${#temporals.format(pedido.dataEntrega, 'dd/MM/yy')}"/></div>
                  </div>
                  <div>
                      <textarea class="form-control" th:text="${pedido.descricao}" />
                  </div>
              </div>
              <div class="col-12 col-sm-4">
                  <img class="img-thumbnail" th:src="${pedido.urlImagem}" alt=""/>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>